<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>offgrid twittr api</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/all.min.css') }}">
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-md" style=" background-color: rgba(29,161,242,1.00);">
    <div class="container-fluid">
      <i class="fab fa-twitter" style="color: white; padding: 10px;"></i>
      <a class="navbar-brand" href="#">Offgrid Twitter API</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      </div>
    </div>
  </nav>
  
  {%  with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert {{ category }} alert-dismissible fade show text-center" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="card m-5 p-1">
    <div class="card-body">
      <p class="text-center fw-light fs-6">create new account !</p>
      <form action="{{url_for('main_route.create_account_confirm')}}" method="POST" >
        <div class="d-grid gap-2 col-6  mx-auto">
          <div class="mb-3">
            <label for="user_id" class="col-sm-6 col-form-label">User ID</label>
            <div class="col-sm-12">
              {% if confirm %} <p class="form-control ">{{user_id}}</p> {% endif %}
              <input name="user_id" class="form-control " id="user_id" value="{{user_id}}" {% if confirm %} type="hidden" {% else %} type="text"  {% endif %}>
            </div>
          </div>
          <div class="mb-3">
            <label for="name" class="col-sm-6 col-form-label">Name</label>
            <div class="col-sm-12">
              {% if confirm %} <p class="form-control ">{{name}}</p> {% endif %}
              <input name="name" class="form-control " id="name"  value="{{name}}" {% if confirm %} type="hidden" {% else %} type="text"  {% endif %}>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="col-sm-6 col-form-label">E-mail</label>
            <div class="col-sm-12">
              {% if confirm %} <p class="form-control ">{{email}}</p> {% endif %}
              <input name="email" class="form-control " id="email" value="{{email}}" {% if confirm %} type="hidden" {% else %} type="text"  {% endif %}>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="col-sm-6 col-form-label">Password</label>
            <div class="col-sm-12">
              {% if confirm %} <p class="form-control ">{{ "●" * len}}</p> {% endif %}
              <input name="password" class="form-control " id="password" value="{{password}}" {% if confirm %} type="hidden" {% else %} type="password"  {% endif %}>
            </div>
          </div>
          <div class="mb-3">
            <label for="confirm_pass" class="col-sm-6 col-form-label">Confirm</label>
            <div class="col-sm-12">
              {% if confirm %} <p class="form-control ">{{ "●" * len}}</p> {% endif %}
              <input name="confirm_pass" class="form-control " id="confirm_pass" value="{{confirm}}" {% if confirm %} type="hidden"  {% else %} type="password"  {% endif %}>
            </div>
          </div>
            <button class="btn mb-3" type="submit" style="background-color: rgba(29,161,242,1.00); color: rgb(255, 255, 255);">確認</button>
            <a href="#" onclick="javascript:window.history.back(-1);return false;">
              <p class="text-center fw-light fs-6" >back</p>
            </a>
      </form>
    </div>
  </div>
  <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{url_for('static', filename='js/jquery.js') }}"></script>
</body>

</html>