{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/datatables.min.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/buttons.bootstrap5.min.css') }}">
{% endblock %}
{%- extends "base.html" %}
{%- block content %}
<h5>取得ツイート一覧</h5>
<table id="example" class="table table-hover table-light" style="width:100%">
  <thead>
      <tr>
        <th></th>
        <th>ユーザー名</th>
        <th>ユーザーID</th>
        <th>投稿内容</th>
        <th>いいね数</th>
        <th>RT数</th>
        <th>投稿日時</th>
      </tr>
  </thead>
  <tbody>
    {% for info in get_tweets %}
    <tr>
      <td>
        <a href="{{url_for('main_route.tweet_detail', id=info['tweet_id'])}}">
          <button class="btn btn btn-primary btn-sm" type="button" id="inputGroupFileAddon03">詳細</button>
        </a>
      </td>
      <td>
        {{info['user_name']}}
      </td>
      <td>
        <a href="https://twitter.com/{{info['user_id']}}" target="_blank">@{{info['user_id']}}</a>
      </td>
      <td>
        {{info['post_content']}}
      </td>
      <td>
        {{info['favo_count']}}
      </td>
      <td>
        {{info['rt_count']}}
      </td>
      <td>
        {{info['post_time']}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th>ユーザー名</th>
      <th>ユーザーID</th>
      <th>投稿内容</th>
      <th>いいね数</th>
      <th>RT数</th>
      <th>投稿日時</th>
    </tr>
  </tfoot>
</table>
<a href="{{ url_for('main_route.tweet_search') }}">
  <button type="button" class="btn btn-secondary m-2">戻る</button>
</a>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
  } );
</script>
{% endblock %}