{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/datatables.min.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/buttons.bootstrap5.min.css') }}">
{% endblock %}
{%- extends "base.html" %}
{%- block content %}
<div class="card m-5 p-1">
  <div class="card-body">
    <h5>取得ユーザー一覧</h5>
    <table id="example" class="table table-hover table-light" style="width:100%">
      <thead>
          <tr>
            <th>ユーザー名</th>
            <th>ユーザーID</th>
            <th>フォロー数</th>
            <th>フォロワー数</th>
            <th>ツイート数</th>
            <th>プロフィール</th>
          </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>
            {{user['user_name']}}
          </td>
          <td>
            <a href="https://twitter.com/{{user['user_id']}}" target="_blank">@{{user['user_id']}}</a>
          </td>
          <td>
            {{user['follow']}}
          </td>
          <td>
            {{user['follower']}}
          </td>
          <td>
            {{user['tweet_count']}}
          </td>
          <td>
            {{user['profile']}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>ユーザー名</th>
          <th>ユーザーID</th>
          <th>フォロー数</th>
          <th>フォロワー数</th>
          <th>ツイート数</th>
          <th>プロフィール</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
  } );

  $('#search_button').click(function(){
    $('#loading').removeClass('hidden')
  })
</script>
{% endblock %}