{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/datatables.min.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/buttons.bootstrap5.min.css') }}">
<style>

</style>
{% endblock %}
{%- extends "base.html" %}
{%- block content %}
<div class="card m-5 p-1">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <a href="{{ url_for('main_route.get_new_record') }}">
            <button type="button" class="btn btn-primary">最新情報取得</button>
          </a>
        </div>
        <div class="col-4 p-1">
          【最終更新日：{{last_get}}】
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card m-5 p-1">
  <div class="card-body">
    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="true">総合ランキング</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="user-tab" data-bs-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">伸び率ランキング</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">フォロワー数</th>
            </tr>
          </thead>
          <tbody>
            {% for user in follow_ranking %}
            <tr>
              <th scope="row">{{loop.index}}位</th>
              <td>{{user['name']}}（{{user['follower']}}）</td>
            </tr>
              {% endfor %}
          </tbody>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">ツイート数</th>
            </tr>
          </thead>
          <tbody>
            {% for user in tweet_ranking %}
            <tr>
              <th scope="row">{{loop.index}}位</th>
              <td>{{user['name']}}（{{user['tweet_count']}}）</td>
            </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">フォロワー数</th>
            </tr>
          </thead>
          <tbody>
            {% for user, count in follower_result %}
            <tr>
              <th scope="row">{{loop.index}}位</th>
              <td>{{user}}（{{count}}）</td>
            </tr>
              {% endfor %}
          </tbody>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">ツイート数</th>
            </tr>
          </thead>
          <tbody>
            {% for user, count in tweet_result %}
            <tr>
              <th scope="row">{{loop.index}}位</th>
              <td>{{user}}（{{count}}）</td>
            </tr>
              {% endfor %}
          </tbody>
        </table>
      
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
<script>
  $(document).ready(function() {
    $('#admin_users').DataTable();
  } );

  $(document).ready(function() {
    $('#users').DataTable();
  } );

  $('#search_button').click(function(){
    $('#loading').removeClass('hidden')
  })
</script>
{% endblock %}