{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/datatables.min.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/buttons.bootstrap5.min.css') }}">
{% endblock %}
{%- extends "base.html" %}
{%- block content %}
<div class="card m-5 p-1">
  <div class="card-body">
    <h3>Tweet 検索</h3>
    <form class="row g-3">
      <div class="input-group mb-3">
        <div class="col-md-7  px-2">
          <input class="form-control" type="text" placeholder="'#'付きでハッシュタグ検索ができます" aria-label="default input example">
        </div>
        <div class="col-md-3  px-2">
          <input class="form-control" type="number" placeholder="取得件数" aria-label="default input example">
        </div>
        <div class="col-md-2 ">
          <button class="btn btn btn-primary" type="button" id="inputGroupFileAddon03">検索</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card m-5 p-1">
  <div class="card-body">
    <h5>Tweet取得履歴</h5>
    <table id="example" class="table table-hover table-light" style="width:100%">
      <thead>
          <tr>
            <th></th>
            <th>検索内容</th>
            <th>取得件数</th>
            <th>取得日</th>
            <th>取得者</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button class="btn btn btn-primary btn-sm" type="button" id="inputGroupFileAddon03">詳細</button>
          </td>
          <td>
            #駆け出しエンジニアと繋がりたい
          </td>
          <td>200件</td>
          <td>2021/07/13</td>
          <td>永戸</td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
            <th></th>
            <th>検索内容</th>
            <th>取得件数</th>
            <th>取得日</th>
            <th>取得者</th>
          </tr>
      </tfoot>
  </table>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
  } );
</script>
{% endblock %}