<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>offgrid twittr api</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/all.min.css') }}">
  {% block css %}
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-md" style=" background-color: rgba(29,161,242,1.00);">
    <div class="container-fluid">
      <i class="fab fa-twitter" style="color: white; padding: 10px;"></i>
      <a class="navbar-brand" href="{{url_for('main_route.top_page') }}">Offgrid Twitter API</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link{% if home %} active {% endif %}" aria-current="page" href="{{ url_for('main_route.top_page') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if tweet_search %} active {% endif %}" href="{{ url_for('main_route.tweet_search') }}">ツイート検索</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if user_search %} active {% endif %}" href="{{ url_for('main_route.user_search') }}">ユーザー検索</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if tweet_out %} active {% endif %}" href="{{ url_for('main_route.tweet_out') }}">ツイート出力</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if user_list %} active {% endif %}" href="{{ url_for('main_route.user_list') }}">ユーザー管理</a>
          </li>
        </ul>
        <a href="{{ url_for('main_route.log_out') }}" class="nav-link active">
          <span class="navbar-text p-1">
            @{{session['login_user']}}
          </span>
          <span class="navbar-text p-1">
            logout
          </span>
        </a>
      </div>
    </div>
  </nav>
  
  {%  with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert {{ category }} alert-dismissible fade show text-center" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="card m-5 p-1">
    <div class="card-body">
  {% block content %}
  {% endblock %}
    </div>
  </div>
  <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{url_for('static', filename='js/jquery.js') }}"></script>
  {% block script %}
  {% endblock %}
</body>

</html>